body {
  font-family: arial, sans-serif;
  
 
}



h1 {
  color: #878787;
  font-size: 24px;
  margin-bottom: 0;
  line-height: 28px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  text-transform: none;
  margin: 0;
  padding: 0;
  color: #878787;
  font-size: 16px;
  font-weight: 100;
}

.description {
  text-transform: uppercase;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: radial-gradient(circle at 10% 20%, rgb(255, 246, 236) 39.5%, rgba(100, 46, 122, 0.23) 100.2%);
}
.overview {
  margin-bottom: 20px;
}
.sun {
  margin-right: 10px;
  margin-left: 20px;
  margin-top: -20px;
}

.units {
  position: relative;
  font-size: 15px;
  top: -40px;
  
}
.degreese {
  font-size: 300%;
  
}

.active {
  text-decoration: none;
  color: black;
  cursor: default;
  
}


.indicators {
  position: relative;
  right: -55px;
  bottom: 20px;
  
  
}

.dsc {
  text-transform: uppercase;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
 
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
  
}

.weather-forecast-temperatures {
 font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}






